{% extends 'base.html' %}

{% block contents %}
<h1 class="mb-5">Output Table</h1>
<table class="table table-hover table-bordered">
    <thead>
        <tr class="table-primary">
            <th scope="col">Algorithm</th>
            <th scope="col">Cylinder Moves</th>
            <th scope="col">Number of Cylinders Head Moved</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">FCFS</th>
            <td>{{fcfsarr}}</td>
            <td>{{outputFCFS}}</td>
        </tr>
        <tr>
            <th scope="row">SSTF</th>
            <td>{{sstfarr}}</td>
            <td>{{outputSSTF}}</td>
        </tr>
        <tr>
            <th scope="row">SCAN</th>
            <td>{{scanarr}}</td>
            <td>{{outputSCAN}}</td>
        </tr>
        <tr>
            <th scope="row">C-SCAN</th>
            <td>{{cscanarr}}</td>
            <td>{{outputCSCAN}}</td>
        </tr>
        <tr>
            <th scope="row">C-LOOK</th>
            <td>{{clookarr}}</td>
            <td>{{outputCLOOK}}</td>
        </tr>
    </tbody>
</table>

<h5 class="mt-5">The Best Disk Scheduling Algoritham for Given Request Queue is <span
        class="text-danger">{{best}}</span>
</h5>

<hr />
<h1 class="mb-5">Output Figures</h1>
{% if fcfs_chart %}
<img src="data:image/png;base64,{{fcfs_chart}}" alt="" srcset="">
{% endif %}
{% if sstf_chart %}
<img src="data:image/png;base64,{{sstf_chart}}" alt="" srcset="">
{% endif %}
{% if scan_chart %}
<img src="data:image/png;base64,{{scan_chart}}" alt="" srcset="">
{% endif %}
{% if cscan_chart %}
<img src="data:image/png;base64,{{cscan_chart}}" alt="" srcset="">
{% endif %}
{% if clook_chart %}
<img src="data:image/png;base64,{{clook_chart}}" alt="" srcset="">
{% endif %}

{% endblock contents %}